body {
    background-color: rgb(94, 1, 1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: black;
    color: whitesmoke
}

.header h2{
    font-size: 40px;
}

.nav a {
    color:aqua
}

.hero{

}

.products{

}

.shop{

}

.footer{
    
}